body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding:0;
    margin:0;
}
h1 {
    font-size: 32px;
}
.header {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: #F2F2F2;
    padding: 10px;
}
.main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 200px;
}
.left {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
.orange {
    color: #ff5c0f;
}
.teal {
    color: #20a8b4;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #ff5c0f;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li {
    margin: auto;
    padding: 5px;
}
li.hover {
    color: #ff5c0f;
}
.btnstyle {
    color: #ffffff;
    width: 100%;
    height: auto;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #20a8b4;
    font-size: 14px;
}
.btnstyle:hover {
    background-color: #ff5c0f;
    cursor: pointer;
}
img {
    display: none;
}
.doyouthink {
    font-size: 20px;
}
@media (min-width: 768px){
    .learn {
        margin-right: auto;
    }
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 10px;
    }  
    ul {
        align-self: center;
    }
    li {
        display: inline-flex;
    }
    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }

    .left {
        display: flex;
        align-self: center;
        flex-direction: column;
    }
    .btnstyle {
        width: max-content;
    }
    img {
        display: inline-flex;
        max-width: 50%;
    }
    .doyouthink {
        font-size: 28px;
    }
}